//
   Created by Araja Jyothi Babu on 13-Nov-16.
extends layout

block content
    .placeholder-50
    .contianer-fluid
        .row
            .col-md-2
                ul.nav.nav-pills.nav-stacked.side-links
                    li(role="presentation")
                        a(href="/repeated")
                            i.fa.fa-repeat.text-primary
                            span  Most Repeated
                    li(role="presentation")
                        a(href="/downloaded")
                            i.fa.fa-download.text-primary
                            span Most Downloaded
            .col-md-7
                h1.text-center.media-heading
                    a(href="/") We are people just like you :)
                br
                .site-text
                    p I'm a Computer Science Enthusiast &#x1F466;, developed this site initially for myself while learning some technologies like NodeJs, MongoDB. Sorry being a Programmer I gave technologies rather than about the people of this site.
                    p I love &#x1F498; listening songs &#x1F3BC; while in work &#x1F4BB;. And we all have the habit of listening our favorite songs in loop. This made me to share this video repeating site which eventually had the feature of downloading &#x1F4BE; songs (All the offices may not have proper bandwidth to listen them online. &#x1F603;). So given way for offline loop also &#x1F609;.
                    p And the concept of Custom YouTube is yet to come. i.e site with personalized content which needs your credentials etc.
                    br
                    p Hope this is helpful for all. Happy &#x1F602; downloading &#x1F4BE; and listening &#x1F3B6; in loop &#x1F501;.

                    p PS:&#x1F4CC; UrYouTube will exists as long as our YouTube gives us it's APIs &#x1F4BD;

                    P You can reach us at
                    ul
                        li
                            a.media-heading(href="/contact")  UrYouTube
                        li
                            a.media-heading(href="https://www.facebook.com/uryoutube/")  Facebook


            .col-md-3