//Created by Araja Jyothi Babu on 04-Oct-16.
extends layout

block content
    .placeholder-50
    .contianer-fluid
        .row
            .col-md-2.col-sm-1
            .col-md-8.col-sm-10.site-text
                h2(align="center") Terms and Conditions
                p These terms and conditions shall govern your use of our website.
                h3 Acceptance of Use
                p By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
                p UrYouTube and it's Services, including all content and products offered through the Website and Services (collectively, the
                    strong &nbsp;"Content"
                    | ) available for your use subject to the terms and conditions set forth in this document. By accessing and using the Website and Services you agree to be bound by and to accept these Terms of Service and all terms and conditions contained and/or referenced herein as well as any additional terms and conditions set forth on the Website.
                p The Terms and Conditions may vary accordingly and we'll intimate those changes either through Home page or anything else. It's your responsibility to check these every time you logged into Website
                p Please check these Terms of Service regularly to ensure that you are aware of all terms governing your use of the Website and Services. Specific terms and conditions may apply to non-user generated Content. Such specific terms may be in addition to these Terms of Service or, where inconsistent with these Terms of Service such specific terms will supersede these Terms of Service only to the extent that the content or intent of such specific terms is inconsistent with these Terms of Service.
                h3 Services
                p You can use our product and services to download youtube videos which are acceptable to download. We won't provide download for restricted videos. We won't encourage any video with constraints to download and watch.
                h3 Termination
                p We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.
                h3 Intellectual Property
                p The static contents of the site like Logo, design and every materialistic things are our own and some of them are used under
                    strong &nbsp;MIT&nbsp;
                    | license. We provide the document for all those software content we used to develop this Website
                h3 Links to other Websites
                p You may have some links to other Websites (mainly social websites) and other Third party products. UrYouTube is not responsible for your misuse of any of those third party products. UrYouTube won't endorse content, products and services of those third party websites.
                h3 License
                p THE URYOUTUBE.COM AND ITS SERVICES IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
            .col-md-2.col-sm-1